In [1]:
%matplotlib notebook
%matplotlib inline

import pandas as pd
from pycarol.auth.PwdAuth import PwdAuth
from pycarol import Carol
password = 'fabCarol'
carol = Carol('totvsconsulting', 'jupyter', auth=PwdAuth('fabricio.antoniasse@totvs.com.br', password))




from pycarol.filter import Filter, TYPE_FILTER
from pycarol import Query
datamodel_name = 'caleevento'
index_type='MASTER'
only_hits=True
fields=None
query_filter = Filter.Builder().must(TYPE_FILTER(value=datamodel_name +"Golden")).build().to_json()
page_size=1000
dm = Query(carol, page_size=page_size, index_type=index_type, only_hits=only_hits, fields=fields).query(query_filter).go().results


query_filter

import pandas as pd
data = pd.DataFrame(dm)

In [2]:
data.head()

,caev_dalu,caev_data,caev_datc,caev_desc,caev_dpad,caev_espa,caev_espc,caev_grup,caev_moda,caev_prep,caev_sequ,caev_stat,caev_tdat,caev_tipo,cale_agev_temp
0,S,2017-08-11T11:49:57.000Z,2017-08-11T11:49:57.000Z,"Revisão Webaulas 1,2,3",NaN,18003,18003,1,1,N,209,1,1,3,NaN
1,S,2017-07-11T20:49:22.000Z,2017-07-11T20:49:22.000Z,Terceiro Encontro Presencial (3),NaN,880000,880000,1,2,S,155,1,1,5,24.0
2,S,2018-08-13T17:25:37.000Z,2018-08-13T17:23:00.000Z,AV3 - Avaliação 03 - Disciplina Padrão,NaN,16703,16703,1,1,N,248,1,1,3,NaN
3,S,2016-11-24T16:05:54.000Z,2016-09-22T21:08:53.000Z,Início do período letivo,NaN,16703,880000,1,1,N,2,1,2,3,NaN
4,S,2018-01-22T16:29:44.000Z,2018-01-22T16:29:44.000Z,Atividade Prática,NaN,18003,18003,1,2,S,234,1,2,5,NaN

In [3]:
data.describe()

          caev_espa     caev_espc   caev_sequ  cale_agev_temp
count  1.310000e+02  1.310000e+02  131.000000       21.000000
mean   6.329228e+06  5.728581e+06  150.725191       91.380952
std    2.398348e+07  2.248845e+07   90.745803      161.052003
min    6.777000e+03  6.777000e+03    1.000000        2.000000
25%    1.670300e+04  1.800300e+04   33.500000        8.000000
50%    1.800300e+04  1.800300e+04  168.000000       17.000000
75%    8.800000e+05  8.800000e+05  224.000000      101.000000
max    1.000009e+08  1.000009e+08  271.000000      641.000000

In [4]:
data.columns

Index(['caev_dalu', 'caev_data', 'caev_datc', 'caev_desc', 'caev_dpad',
       'caev_espa', 'caev_espc', 'caev_grup', 'caev_moda', 'caev_prep',
       'caev_sequ', 'caev_stat', 'caev_tdat', 'caev_tipo', 'cale_agev_temp'],
      dtype='object')

In [8]:
aux = data.caev_desc

In [11]:
aux.drop_duplicates().sort_values()

77                AV1 - Avaliação 01 - Disciplina Padrão
70      AV1 Avaliação Presencial 01 - Disciplina On-line
18                AV2 - Avaliação 02 - Disciplina Padrão
71      AV2 Avaliação Presencial 02 - Disciplina On-line
2                 AV3 - Avaliação 03 - Disciplina Padrão
38                              Apresentação Cursos Flex
109                                  Atividade Acadêmica
45                               Atividade Brinquedoteca
4                                      Atividade Prática
101                                  Atividade Prática 2
66                                   Atividade Prática 3
63                                   Atividade Prática 4
62                                   Atividade Prática 5
64                                   Atividade Prática 6
126                                  Atividade Prática 7
127                                  Atividade Prática 8
129                                Atividades Acadêmicas
128                                Atividades acadêmicas
23                                 Avaliação 2ª chamada
67                               Avaliação Institucional
31                               Avaliação Oficial Final
22                                   Avaliação Webaula 1
50                                   Avaliação Webaula 2
95           Avaliação de 2° chamada (disciplina online)
105                 Avaliação de 2° chamada (presencial)
74                 Avaliação oficial (disciplina online)
68         Avaliação oficial do 1º bimestre (presencial)
103        Avaliação oficial do 2º bimestre (presencial)
120      Avaliação parcial Webaula 1 (disciplina online)
72       Avaliação parcial Webaula 2 (disciplina online)
                             ...
56                        Quarto Encontro Presencial (3)
93                        Quarto Encontro Presencial (4)
25                            Quinto Encontro Presencial
32                        Quinto Encontro Presencial (2)
121                         Recepção Formação Pedagógica
92                                Recepção de acadêmicos
119                                      Recesso Escolar
87                    Recesso escolar para os acadêmicos
0                                 Revisão Webaulas 1,2,3
53                           Segundo Encontro Presencial
40                       Segundo Encontro Presencial (2)
26                       Segundo Encontro Presencial (3)
102                    Semana de Comunicação Estratégica
12                                  Semana de Integração
91                Seminário de Socialização das Práticas
123                            Sexto Encontro Presencial
89                               Socialização do Estágio
57                  Socialização do TG/Projeto de Ensino
44                     Socialização do paper (Seminário)
78                      Socialização do paper do Estágio
48            Socialização do paper do Projeto de Ensino
75                                       Sábados Letivos
61                            Sétimo Encontro Presencial
42                        Sétimo Encontro Presencial (2)
41                          Terceiro Encontro Presencial
116                     Terceiro Encontro Presencial (2)
1                       Terceiro Encontro Presencial (3)
81                                            Tiradentes
98                             Término do período letivo
59     Visita técnica/prática, sala de aula ou ativid...
Name: caev_desc, Length: 128, dtype: object

In [12]:
data.dtypes

caev_dalu          object
caev_data          object
caev_datc          object
caev_desc          object
caev_dpad          object
caev_espa           int64
caev_espc           int64
caev_grup          object
caev_moda          object
caev_prep          object
caev_sequ           int64
caev_stat          object
caev_tdat          object
caev_tipo          object
cale_agev_temp    float64
dtype: object

In [21]:
#convert object to datetime
data['caev_data'] = data.caev_data.astype('datetime64[D]')
data['caev_datc'] = data.caev_datc.astype('datetime64[D]')

In [22]:
data_data.head()

0   2017-08-11
1   2017-07-11
2   2018-08-13
3   2016-11-24
4   2018-01-22
Name: caev_data, dtype: datetime64[ns]

In [16]:
data_data.values[0]

numpy.datetime64('2017-08-11T11:49:57.000000000')

In [29]:
data_delta = data[['caev_data','caev_datc']].dropna()

In [30]:
data_delta.head()

   caev_data  caev_datc
0 2017-08-11 2017-08-11
1 2017-07-11 2017-07-11
2 2018-08-13 2018-08-13
3 2016-11-24 2016-09-22
4 2018-01-22 2018-01-22

In [31]:
delta = data_delta.caev_data - data_delta.caev_datc

In [37]:
delta[0].dt.days

AttributeError: 'Timedelta' object has no attribute 'dt'